* {
  font-family: "Roboto", sans-serif; }

header {
  position: relative;
  height: 50px; }

nav {
  height: 50px;
  background-color: #212121;
  width: 100%;
  z-index: 5;
  position: fixed; }

.menu {
  padding: 13px 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  list-style-type: none; }
  .menu .menu_link {
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
    text-decoration: none; }
  .menu .menu_item {
    border-right: 2px dotted black;
    padding-right: 28px; }
    .menu .menu_item:last-child {
      border-right: none; }

.subheader {
  top: 50px;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  min-width: 100%; }
  .subheader .logo_img {
    display: block;
    margin-top: 16px;
    max-width: 100%; }
  .subheader .logo_descr {
    margin-top: 6px;
    opacity: 0.5;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400; }
  .subheader .row .callus {
    text-align: right; }
  .subheader .row .callus_text {
    margin-top: 20px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 300; }
  .subheader .row .callus_number {
    display: block;
    margin-top: 8px;
    line-height: 12px;
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase; }
  .subheader .row .btn {
    margin-top: 19px;
    border-radius: 5px;
    width: 172px;
    height: 46px;
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.12);
            box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.12);
    border: 1px solid rgba(0, 0, 0, 0.07);
    background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase; }
    .subheader .row .btn:hover {
      background-image: none;
      background-color: #1eacc7; }
  .subheader .row .xs-visible {
    display: none; }

.promo {
  height: 799px;
  background: url("../img/bg/main-bg.png") center center/cover no-repeat;
  padding: 151px 0 135px 0; }
  .promo .promo_header {
    text-align: center;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 60px; }
  .promo .promo_subheader {
    text-align: center;
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 36px; }
  .promo .promo_text {
    text-align: center;
    margin-top: 23px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px; }
  .promo .promo_btn {
    display: block;
    margin: 118px auto 0 auto;
    width: 259px;
    height: 63px;
    -webkit-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
            box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
    border: 1px solid rgba(0, 0, 0, 0.07);
    background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    border-radius: 5px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase; }
    .promo .promo_btn:hover {
      background-image: none;
      background-color: #1eacc7; }

.advantages {
  padding: 65px 0 70px 0; }
  .advantages .label {
    text-align: center;
    margin: 0 auto;
    width: 112px;
    height: 24px;
    background-color: #000000;
    color: #ffffff;
    font-size: 11px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase; }
  .advantages .advantages_subheader {
    text-align: center;
    margin-top: 38px;
    color: #222222;
    font-size: 38px;
    line-height: 38px;
    font-weight: 700;
    text-transform: uppercase; }
  .advantages .column_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 40px; }
    .advantages .column_item .round_item {
      margin-left: 34px;
      width: 113px;
      height: 113px;
      background-color: #1eacc7;
      border-radius: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
  .advantages .column_text {
    margin-left: 26px;
    width: 342px; }
  .advantages .subtitle {
    color: #1eacc7;
    font-size: 17px;
    font-weight: 400;
    line-height: 21px; }
  .advantages .subtext {
    color: #202020;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    margin-top: 10px; }

.mobile {
  min-height: 864px;
  background: url("../img/bg/bg_square.png") center center/cover no-repeat;
  padding: 48px 0 80px 0; }
  .mobile .label {
    text-align: center;
    margin: 0 auto;
    width: 112px;
    height: 24px;
    background-color: #000000;
    color: #ffffff;
    font-size: 11px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase; }
  .mobile_subtitle {
    color: #222222;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: 38px; }
    .mobile_subtitle_text {
      color: #222222;
      font-size: 17px;
      font-weight: 400;
      margin-top: 19px;
      text-align: center; }
  .mobile .row {
    margin: 0 auto;
    margin-top: 32px; }
  .mobile_item {
    text-align: center;
    margin-bottom: 19px;
    position: relative;
    width: 320px;
    height: 280px; }
    .mobile_item_1 {
      background: url("../img/services/1.jpg"); }
    .mobile_item_2 {
      background: url("../img/services/2.jpg"); }
    .mobile_item_3 {
      background: url("../img/services/3.jpg"); }
    .mobile_item_4 {
      background: url("../img/services/4.jpg"); }
    .mobile_item_5 {
      background: url("../img/services/5.jpg"); }
    .mobile_item_6 {
      background: url("../img/services/6.jpg"); }
    .mobile_item_text {
      color: #ffffff;
      font-size: 24px;
      font-weight: 400;
      text-transform: uppercase;
      padding-top: 90px; }
    .mobile_item_plus {
      position: absolute;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      vertical-align: bottom;
      width: 26px;
      height: 26px;
      background-color: #000000;
      border-radius: 100%;
      bottom: 35px;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      cursor: pointer; }
      .mobile_item_plus:before {
        content: "";
        display: block;
        width: 14px;
        height: 2px;
        background-color: #1eacc7; }
      .mobile_item_plus:after {
        position: absolute;
        content: "";
        display: block;
        width: 2px;
        height: 14px;
        background-color: #1eacc7;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%); }
      .mobile_item_plus:hover:before, .mobile_item_plus:hover::after {
        background-color: #ff5656;
        -webkit-transition: 0.3s all;
        transition: 0.3s all; }

.car {
  position: relative;
  min-height: 896px;
  background: url("../img/bg/car-bg.png") center center/cover no-repeat;
  padding: 57px 0 138px 0; }
  .car .label {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 112px;
    height: 24px;
    background-color: #ffffff;
    color: #070716;
    font-size: 11px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase; }
  .car_subtitle {
    color: #ffffff;
    font-size: 38px;
    line-height: 38px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: 32px; }
    .car_subtitle_text {
      color: #ffffff;
      font-size: 17px;
      line-height: 17px;
      font-weight: 400;
      text-align: center;
      margin-top: 19px; }
  .car_img {
    height: 480px;
    background: url("../img/bg/car.png") center center no-repeat;
    position: relative;
    display: block;
    margin: 56px auto 0 auto; }
  .car_text {
    text-align: center;
    color: #222222;
    font-size: 17px;
    font-weight: 300; }

.require {
  padding: 68px 0 84px 0; }
  .require .label {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 112px;
    height: 24px;
    background-color: #000;
    color: #fff;
    font-size: 11px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase; }
  .require_subtitle {
    color: #000;
    font-size: 38px;
    line-height: 38px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: 32px; }
  .require_block {
    margin: 33px 0 62px 0; }
  .require_title {
    font-size: 22px;
    font-weight: 400;
    color: #1eacc7; }
  .require_text {
    position: relative;
    margin-top: 14px;
    margin-left: 58px; }
    .require_text:before {
      display: block;
      position: absolute;
      content: "";
      background: url("../icons/mark.png") center center/cover no-repeat;
      width: 21px;
      height: 20px;
      left: -32px;
      top: 3px; }
    .require_text_red {
      position: relative;
      margin-top: 14px;
      margin-left: 58px; }
      .require_text_red:before {
        display: block;
        position: absolute;
        content: "";
        background: url("../icons/redmark.png") center center/cover no-repeat;
        width: 21px;
        height: 20px;
        left: -32px;
        top: 3px; }
  .require_subscr {
    margin-top: 21px;
    font-weight: 300;
    color: #1eacc7; }
  .require .warning {
    color: #ff5656; }
  .require .nmb {
    margin-bottom: 0; }

.world {
  background: url("../img/bg/second_bg.png") center center/cover no-repeat;
  padding: 49px 0;
  min-height: 717px; }
  .world .label {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 76px;
    height: 24px;
    background-color: #ffffff;
    color: #070716;
    font-size: 11px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase; }
  .world_subtitle {
    color: #ffffff;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: 32px;
    line-height: 38px; }
  .world_text {
    color: #ffffff;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
    line-height: 17px; }
  .world .view_city {
    color: #1fbad6;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 486px; }

.footer {
  padding: 14px 0 39px 0; }
  .footer .divider {
    display: block;
    width: 299px;
    height: 4px;
    background-color: #1fbad6;
    margin: 0 auto; }
  .footer .round {
    width: 32px;
    height: 32px;
    background-color: #070716;
    border-radius: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer .round i {
      color: #fff; }
  .footer .wrapper {
    margin-top: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer .wrapper > div {
      width: 33%; }
    .footer .wrapper_icons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 153px;
      margin-left: 23px; }
    .footer .wrapper_subtitle {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .footer .wrapper_subtitle a {
        color: #070716;
        font-size: 15px;
        font-weight: 300;
        text-transform: uppercase;
        text-decoration: none;
        line-height: 15px; }
      .footer .wrapper_subtitle_support {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-top: 15px; }
        .footer .wrapper_subtitle_support a {
          color: #999999;
          font-size: 11px;
          font-weight: 300;
          text-transform: uppercase;
          line-height: 11px;
          text-decoration: none; }
    .footer .wrapper .lang {
      display: block;
      text-align: center;
      margin-top: 19px; }
      .footer .wrapper .lang a {
        color: #1fbad6;
        font-size: 11px;
        font-weight: 400;
        line-height: 11px;
        text-transform: uppercase;
        text-decoration: none; }
    .footer .wrapper_system {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-right: 23px; }

.hamburger {
  display: none; }

@media (max-width: 1200px) {
  nav .menu .menu_link {
    font-size: 13px; }
  nav .menu .menu_item {
    padding-right: 20px; }

  .subheader .row .callus_text {
    font-size: 11px; }
  .subheader .row .callus_number {
    font-size: 18px; }

  .promo .promo_header {
    font-size: 41px; }

  .advantages .column_text {
    width: 278px; }

  .mobile_item {
    width: 300px; } }
@media (max-width: 991px) {
  nav .menu .menu_link {
    font-size: 11px; }
  nav .menu .menu_item {
    padding-right: 5px; }

  .subheader .logo_img {
    width: 100%; }
  .subheader .logo_descr {
    font-size: 11px; }

  .promo .promo_subheader {
    font-size: 31px; }

  .advantages .column_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .advantages .column_text {
    margin-top: 20px; }

  .car_img {
    background-size: 100%; }

  .footer .wrapper > div {
    width: 33%; }
  .footer .wrapper_subtitle a {
    font-size: 12px; }
  .footer .wrapper_subtitle_support a {
    font-size: 8px; }
  .footer .wrapper_system img {
    width: 64px; } }
@media (max-width: 767px) {
  nav .menu {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: 0.5s all;
    transition: 0.5s all; }
    nav .menu_active {
      left: 0; }
    nav .menu .menu_item {
      padding-right: 0px;
      border: none;
      margin: 10px 0; }
    nav .menu .menu_link {
      font-size: 20px; }
  nav .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 25px;
    height: 12px; }
    nav .hamburger span {
      display: block;
      height: 2px;
      width: 100%;
      margin-bottom: 2px;
      background-color: #fff;
      -webkit-transition: 0.5s all;
      transition: 0.5s all; }
    nav .hamburger_active span {
      margin-bottom: -2px; }
      nav .hamburger_active span:nth-child(1) {
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg); }
      nav .hamburger_active span:nth-child(2) {
        display: none; }
      nav .hamburger_active span:nth-child(3) {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg); }

  .subheader .row .callus_text {
    display: none; }
  .subheader .row .callus_number {
    margin-top: 15px;
    margin-right: 14px; }
  .subheader .row .btn {
    width: 155px;
    height: 33px;
    font-size: 14px;
    margin-top: 9px; }
  .subheader .row .xs-hidden {
    display: none; }
  .subheader .row .xs-visible {
    display: block; }
  .subheader .row .xs-block {
    text-align: right; }

  .promo {
    height: 555px; }
    .promo .promo_header {
      line-height: 53px; }
    .promo .promo_subheader {
      margin-top: 25px;
      font-weight: 400;
      font-size: 37px;
      line-height: 40px; }
    .promo .promo_text {
      display: none; }
    .promo .promo_btn {
      margin-top: 70px; }

  .advantages .column_text {
    text-align: center; }

  .mobile .mobile_subtitle {
    font-size: 31px; }
  .mobile .mobile_item {
    margin: 19px auto; }

  .car {
    min-height: 560px;
    background: url("../img/bg/xs-bg.png") center center/cover no-repeat;
    padding-bottom: 33px; }
    .car .car_subtitle {
      display: none; }
      .car .car_subtitle_text {
        display: none; }
    .car_img {
      height: 340px;
      margin-top: 35px; }
    .car_text {
      color: #ffffff;
      width: 249px;
      margin: 0 auto;
      font-size: 17px;
      font-weight: 300;
      line-height: 24px; }

  .footer .divider {
    width: 253px;
    height: 4px; }
  .footer .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding-top: 22px; }
    .footer .wrapper > div {
      width: auto;
      margin: 22 auto; }
      .footer .wrapper > div:nth-child(1) {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2; }
      .footer .wrapper > div:nth-child(2) {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1; }
      .footer .wrapper > div:nth-child(3) {
        -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3; }
    .footer .wrapper_subtitle a {
      margin-left: 16px; }
    .footer .wrapper_subtitle_support {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .footer .wrapper_subtitle_support a {
        margin-right: 11px;
        margin-bottom: 8px; }
    .footer .wrapper .lang {
      margin-top: 0; }
    .footer .wrapper_icons {
      margin-top: 10px;
      margin-left: 0; }
    .footer .wrapper_system {
      margin-right: 0;
      margin-top: 20px; } }
@media (max-width: 575px) {
  header {
    height: 30px; }

  nav {
    height: 30px; }
    nav .menu_active {
      width: 75%; }
    nav .menu .menu_link {
      font-size: 17px; }

  .subheader {
    top: 30px;
    height: 60px; }
    .subheader .logo_img img {
      width: 100%; }
    .subheader .logo_descr {
      display: none; }
    .subheader .row .callus_number {
      font-size: 12px;
      margin-top: 9px; }
    .subheader .row .btn {
      width: 110px;
      height: 22px;
      font-size: 10px; }

  .promo {
    height: 400px;
    padding: 113px 0 35px 0; }
    .promo .promo_header {
      font-size: 30px;
      line-height: 40px; }
    .promo .promo_subheader {
      font-size: 20px;
      line-height: 25px; }
    .promo .promo_btn {
      margin-top: 45px; }

  .advantages {
    padding: 23px 0 40px 0; }
    .advantages .advantages_subheader {
      font-size: 15px;
      margin-top: 15px;
      margin-bottom: 0;
      line-height: 21px; }
    .advantages .column_item {
      margin-top: 25px; }
      .advantages .column_item .round_item {
        margin-left: 0; }
    .advantages .column_text {
      margin: 20px 0 0 0; }

  .mobile .mobile_subtitle {
    font-size: 16px;
    margin-bottom: 0; }
    .mobile .mobile_subtitle_text {
      font-size: 14px;
      margin-top: 11px; }
  .mobile .row {
    margin-top: 27px; }
  .mobile .mobile_item {
    width: 260px;
    height: 260px; }
    .mobile .mobile_item_text {
      font-size: 18px;
      line-height: 31px; }

  .car {
    padding: 25px 0 33px 0;
    min-height: 390px; }
    .car_img {
      margin-top: 35px; }

  .require {
    padding: 25px 0; }
    .require_subtitle {
      font-size: 16px;
      margin-top: 15;
      margin-bottom: 0;
      line-height: 21px; }
    .require_block {
      margin: 22px 0 0 0; }

  .world {
    padding: 25px 0 30px 0;
    min-height: 360px; }
    .world_subtitle {
      font-size: 16px;
      margin-top: 15px;
      line-height: 21px; }
    .world_text {
      font-size: 14px;
      margin-top: 10px; }
    .world .view_city {
      margin-top: 216px; }

  .footer .wrapper > div {
    width: auto; }
    .footer .wrapper > div:nth-child(1) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .footer .wrapper > div .wrapper_icons {
      margin-left: 0px; }
    .footer .wrapper > div .wrapper_subtitle_support {
      display: block;
      text-align: center;
      margin: 0;
      padding: 0px 20%; }
  .footer .wrapper_system {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

/*# sourceMappingURL=main.css.map */